body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Nav */
.nav_list__items :hover {
  color: #404bbf;
}

.nav_list__logo_color {
  color: #2e2f42;
}
.nav_list__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav_list__items_link__list {
  color: #2e2f42;
}
.nav_list__items_link__list:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts_list__item {
  color: #434455;
}

.contacts :hover,
:focus {
  color: #404bbf;
}

/* Order section */
.order {
  background-color: #2e2f42;
}
.order__title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.order__button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.order__button:hover,
:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.information_section__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.information_section__paragraph {
}

/* Team section */
.team_menu {
  background-color: #f4f4fd;
}

.team_menu_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team_menu__list {
  background-color: #ffffff;
}

.team_menu__list_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team_menu__list_job {
  font-size: 16px;
}

/* Section 4 */

.portfolio_title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio_list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio_list__paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer_menu {
  background-color: #2e2f42;
}

.footer_logo_color {
  color: #f4f4fd;
}

.footer_menu__paragraph {
  color: #f4f4fd;
}
