body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Nav */
.nav_list__items :hover {
  color: #404bbf;
}

.nav_list__logo_color {
  color: #2e2f42;
}

.nav_list__items {
  display: flex;
}
.nav_list__items li {
  margin-right: 40px;
}
.nav_list__items li:last-child {
  margin-right: 0;
}

.nav_list__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.nav_list__items_link__list {
  padding: 24px 0;

  color: #2e2f42;
}
.nav_list__items_link__list:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts_list__item {
  color: #434455;
}

.header_menu {
  border-bottom: 1px solid #e7e9fc;
}

.header_menu_list {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav_list {
  display: flex;
  align-items: center;
}

.contacts_list {
  display: flex;
  gap: 40px;
}

.contacts :hover,
:focus {
  color: #404bbf;
}

/* Order section */

.order {
  background-color: #2e2f42;
  padding: 188px 0;
}
.order__title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.order .order_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 64px;
}

.order__button:hover,
:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.information_section {
  padding: 120px 0 120px;
}
.information_section__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.information_section .container .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.information_section_list {
  display: flex;
  gap: 24px;
  font-weight: 400;
  padding: 0;
}

.information_section_list .information_section_list_numbers {
  width: calc((100% - 72px) / 4);
}

/* Team section */
.team_menu {
  background-color: #f4f4fd;
}

.team_menu_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team_menu__main {
  display: flex;
  gap: 24px;
}
.team_menu__main .team_menu__list {
}
.team_menu__list {
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
}

.team_menu__list_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: calc((100% - 72px) / 4);
  text-align: center;
  margin-bottom: 8px;
}

.team_menu__list__description {
  padding: 32px 0;
}

.team_menu__list_job {
  font-size: 16px;
  text-align: center;
}

/* Section 4 */

.portfolio_title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio_list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio_list__paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer_menu {
  background-color: #2e2f42;
}

.footer_logo_color {
  color: #f4f4fd;
}

.footer_menu__paragraph {
  color: #f4f4fd;
}
