body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Nav */
.nav_list__items :hover {
  color: #404bbf;
}

.nav_list__logo_color {
  color: #2e2f42;
}

.nav_list__items {
  margin: 0;
  display: flex;
}
.nav_list__items li {
  margin-right: 40px;
}
.nav_list__items li:last-child {
  margin-right: 0;
}

.nav_list__logo {
  color: #404bbf;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.nav_list__items_link__list {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav_list__items li:first-child a {
  position: relative;
  color: #404bbf; /* Змінюємо колір тексту */
}
.nav_list__items li:first-child ::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav_list__items_link__list:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.burger_icon {
  display: none;
}
.contacts_list__item {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
}

.header_menu {
  border-bottom: 1px solid #e7e9fc;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header_menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1158px;

  margin: 0 auto;
  padding: 0 15px;
}
.nav_list {
  display: flex;
  align-items: center;
}

.contacts_list {
  display: flex;
  gap: 40px;
}

.contacts :hover,
:focus {
  color: #404bbf;
}

/* Order section */
.container_order {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.order {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Order/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order__title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.order .order_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 48px;
}

.order__button:hover,
:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.information_section {
  padding: 120px 0 120px;
}
.information_section__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.information_section_list {
  display: flex;
  gap: 24px;
  font-weight: 400;
  padding: 0;
}

.information_section_list_numbers__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.information_section_list .information_section_list_numbers {
  width: calc((100% - 72px) / 4);
}

/* Team section */
.team_menu {
  background-color: #f4f4fd;
}

.team_menu_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team_menu__main {
  display: flex;
  gap: 24px;
  margin: 0;
}

.team_menu__list {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team_menu__list_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex-basis: calc((100% - 3 * 24px) / 4);
  text-align: center;
  margin-bottom: 8px;
}

.employee_info {
  padding: 32px 0;
}
.employee_info_icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.employee_info_icon_list {
  width: 40px;
  height: 40px;
}
.employee_info_icon_list a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee_info_icon_list_link:hover {
  background-color: #404bbf;
}
.employee_info_icon_list_link:focus {
  background-color: #404bbf;
}
.employee_info_icon_list_link_layer {
  fill: #f4f4fd;
}

.team_menu__list_job {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

/* Section 4 */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio_info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
}

.portfolio_info__list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_info__list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio_info .portfolio_info__list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_info__list_item {
  position: relative;
  overflow: hidden;
}
.portfolio_info__list:hover .portfolio_info__list_item_descr {
  transform: translateY(0%);
}

.portfolio_info__list_item_descr {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_info__list_container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio_title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;

  justify-content: center;
}

.portfolio_list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio_list__paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer_menu {
  background-color: #2e2f42;
  padding: 100px 0;
  align-content: baseline;
}
.footer_container {
  display: flex;
  align-items: baseline;
}

.footer_container__logo {
  margin-right: 120px;
}
.footer_social_list_item__link:hover {
}
.footer_social {
}

.footer_social_p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer_social_list {
  display: flex;
  gap: 16px;
}
.footer_social_list_item {
  width: 40px;
  height: 40px;
}
.footer_social_list_item__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_social_list_item__link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_social_list_item__link:hover,
.footer_social_list_item__link:focus {
  background-color: #31d0aa;
}

.footer_social_list_item__link_icon {
  fill: #f4f4fd;
}

.footer_logo_color {
  color: #f4f4fd;
}

.footer_menu__paragraph {
  color: #f4f4fd;
  max-width: 264px;
}
.nav_list__logo_footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}

.footer_subscribe {
  margin-left: 80px;
}

.footer_subscribe_title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer_subscribe_form {
  display: flex;
  gap: 24px;
}
.footer_subscribe_form_label_input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer_subscribe_form_label .footer_subscribe_form_label_input::placeholder {
  color: #ffffff;
}
.footer_subscribe_button {
  min-width: 165px;
  border-radius: 4px;
  padding: 8px 24px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
}
.footer_subscribe_button_icon {
  margin-left: 16px;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal_button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_button:hover,
.modal_button:focus {
  background-color: #404bbf;
  border: none;
}

.modal_button_icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_button:hover .modal_button_icon,
.modal_button:focus .modal_button_icon * {
  fill: #ffffff;
}
.modal_title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
  color: #2e2f42;
}

.modal_form {
  margin-bottom: 8px;
}
.modal_form_name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
}
.modal_form_name_container {
  position: relative;
}
.modal_form_name_container_inpt {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_form_name_container_inpt:focus
  + .modal_form_name_container
  .modal_button_icon_form {
  fill: #4d5ae5;
}
.modal_button_icon_form {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_name_container_inpt:focus .modal_button_icon_form {
  fill: #4d5ae5;
}

.modal_form_name_container_inpt:focus {
  border-color: #4d5ae5;
}

.modal_form_name_container_inpt:focus + .modal_button_icon_form {
  fill: #4d5ae5;
}

.modal_comments {
  margin-bottom: 16px;
}

.modal_comments_text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.modal_comments_text:focus {
  border-color: #4d5ae5;
}

.modal_check_box {
  margin-bottom: 24px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.modal_check_box_user_privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin: 0 auto;
}
.formd {
  align-content: baseline;
}
.modal_check_box_user_privacy_span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal_check_box_input:checked
  + .modal_check_box_user_privacy
  .modal_check_box_user_privacy_span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal_link {
  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  line-height: 133%;
}

.modal_button_send {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 24px auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header_menu {
    max-width: 767px;
  }
  .header_menu_list {
    justify-content: space-around;
  }

  .container {
    max-width: 320px;
    padding: 0 16px;
  }
  .nav_list__items,
  .contacts_list {
    display: none;
  }
  .nav_list__logo {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .burger_icon {
    display: block;
  }

  .order {
    max-width: 320px;
    padding: 0;
  }

  .order__title {
    margin-top: 72px;
    font-weight: 700;
    max-width: 216px;
    font-size: 36px;
  }
  .order__button {
    margin-top: 72px;
    margin-bottom: 72px;
  }
  .information_section_list .information_section_list_numbers {
    width: 100%;
  }
  .information_section_list {
    flex-direction: column;
    align-items: center;
  }
  .information_section_list_numbers__icon {
    display: none;
  }
  .information_section__title {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
  }
  .information_section__paragraph {
    text-align: start;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
  }

  .team_menu__main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio_info {
    flex-direction: column;
    gap: 72px;
  }
  .portfolio_info .portfolio_info__list {
    width: 100%;
  }

  .footer_container {
    flex-direction: column;
    align-items: center;
  }
  .footer_subscribe {
    margin: 0;
  }
  .footer_container__logo {
    margin: 0;
  }
  .footer_subscribe_form {
    flex-direction: column;
    align-items: center;
  }
  .footer_subscribe_form_label_input {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: var(--white);
    opacity: 0.6;
    width: 288px;
  }
  .nav_list__logo_footer {
    margin-right: 0;
    justify-content: center;
    display: flex;
  }

  .footer_subscribe_title {
    display: flex;
    margin-top: 72px;
    justify-content: center;
  }
  .footer_subscribe_form {
    max-width: 165px;
  }
  .footer_social_p {
    margin-top: 72px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
  .order {
    padding: 0;
  }
  .order__title {
    margin-top: 112px;
  }
  .order__button {
    margin-bottom: 112px;
  }
  .header_menu_list {
    justify-content: space-around;
  }

  .contacts_list {
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--slate);
    gap: 12px;
    margin-right: 16px;
  }
  .information_section_list_numbers__icon {
    display: none;
  }

  .information_section_list {
    flex-wrap: wrap;
  }

  .information_section__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
  }
  .information_section__paragraph {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
  }

  .information_section_list .information_section_list_numbers {
    width: calc((100% - 48px) / 2);
  }

  .team_menu__main {
    flex-wrap: wrap;
    justify-content: center;
  }
  .team_menu__list {
  }

  .portfolio_info {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio_info .portfolio_info__list {
    width: calc((100% - 24px) / 2);
  }
  .footer_container {
    flex-wrap: wrap;

    padding-left: 108px;
  }
  .footer_subscribe {
    margin-left: 0;
    margin-top: 72px;
  }
  .footer_container__logo {
    margin-right: 24px;
  }
}

@media (min-width: 1158) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
